body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    text-align: center;
}
h1 {
    margin-top: 20px;
}
form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
#confirmation-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    border: 1px solid #c3e6cb;
    border-radius: 3px;
    color: #155724;
    display: none;
}

.rounded-input {
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    margin-right: 40px;
    margin: 1rem;
    text-align: center;
    margin-left: -5px;
    width: 275px;
}

.rounded-input:focus {
    border-color: #007bff;
}

.container {
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto; 
}